// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
  padding: 20px;
  margin-left: 20px;

  width: 400px;
}

.question {
  border-left: 6px solid rgb(245,245,245);
  padding: 20px;
    margin-bottom: 20px;
}


.answer {
  border-left: 6px solid rgb(245,245,245);
  background-color: #FEFFE0;
  padding: 20px;
}
